body {
    background-image: url("https://media.contentapi.ea.com/content/dam/ea/easports/fifa/ultimate-team/campaigns/2018/tots/epl/tots18-premierleague-share.jpg");
    background-size: cover;
    background-repeat: none;

 }